# 𝙄𝙂𝙉𝙊𝙍𝙀 𝙈𝙀! 🙈
.DS_Store
node_modules/
*.tmp
dist/
tests/results/
test-results/
!tests/results/
!tests/results/**
joint.bin
joint.json
# Ignore all session files (named sessions create their own .bin and .json files)
*.bin
*.json
!package.json
!jslint.json
# os files
$RECYCLE.BIN/
*.DS_Store
*.cab
*.lcov
*.lnk
*.log
*.mo
*.msi
*.msix
*.msm
*.msp
*.o
*.pid.lock
*.pyc
*.so
*.stackdump
*.tgz
*.tmp
*.tsbuildinfo
*~
.*.sw?
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.com.apple.timemachine.donotpresent
.directory
.docusaurus
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.fseventsd
.fuse_hidden*
.fusebox/
.grunt
.idea
.lock-wscript
.netrwhist
.next
.nfs*
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.stylelintcache
.temp
.tern-port
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
.cache/clangd/
.ccls-cache/
.clang-tidy
.clangd/
.deps/
.idea/
.vs/
.vscode/
.zig-cache/
tmp/
zig-out/
src/ui/i/proj/
src/ui/i/thumb/
src/ui/i/me.jpg
src/ui/i/signature.png
Icon[]
Network Trash Folder
Session.vim
Sessionx.vim
Temporary Items
Thumbs.db
Thumbs.db:encryptable
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Dd]esktop.ini
_.log
_.pid
_.seed
bower_components
build/Release
coverage
ehthumbs.db
ehthumbs_vista.db
jspm_packages/
lerna-debug.log*
lib-cov
logs
nohup.out
npm-debug.log_
out
pids
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
tags
web_modules/
yarn-debug.log*
yarn-error.log*
