body {
    margin: 0;
    background-color: #444;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

html, body, #container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#editor {
    z-index: 1;
    position: relative;
    width: calc(100% - 160px - 1px - 200px - 1px - 200px - 1px);
    height: calc(100% - 30px - 25px);
    margin-left: 161px;
    overflow: auto;
    margin-top: 30px;
    min-width: 640px;
    text-align: center;
}

#editor, #preview {
    background: linear-gradient(to bottom, #3e3e3e 0%, #444 16px, #444 100%);
}

#title, #readme-bar {
    z-index: 1;
    font: normal normal normal 14px "Lucida Grande", sans-serif;
    text-align: center;
}

#readme-bar {
    font-size: 12px;
    width: 100%;
    height: 25px;
    background: linear-gradient(to bottom, black 0px, #444 1px, #333 20px, #222 23px, #111 25px);
}

#readme-bar, #readme-bar a {
    color: #bbb;
    text-shadow: black 0px 1px 2px;
    line-height: 25px;
}

#readme-bar a {
    text-decoration: none;
}

#readme-bar a:hover {
    color: #eee;
    text-decoration: underline;
}

#title {
    min-width: 640px;
    height: 30px;
    background: linear-gradient(to bottom, #606060 0px, #505050 28px, #303030 29px);
    margin-left: 161px;
    width: calc(100% - 160px - 1px - 200px - 1px);
    position: fixed;
    top: 0px;
}

#title p.title {
    text-shadow: #222 0px 1px 0px;
    outline: none;
    width: 320px;
    margin: 8px auto 8px auto;
    padding-right: 200px;
    color: #e0e0e0;
    text-decoration: none;
    line-height: 14px;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}

#title p.current-tool {
    display: none;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: calc(100% - 180px);
    width: 180px;
    line-height: 30px;
}

#container canvas {
    cursor: crosshair;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
}

#palette {
    margin-bottom: 1px;
}

#editor canvas.canvas-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

#sidebar-left, #sidebar-right, #preview {
    z-index: 0;
    position: fixed;
    top: 0px;
    height: calc(100% - 25px);
    overflow-x: hidden;
    overflow-y: auto;
}

#sidebar-left {
    left: 0px;
    border-right: 1px solid #333;
}

#preview {
    margin-right: 201px;
    width: 200px;
    height: calc(100% - 30px - 25px);
    top: 30px;
    overflow-y: auto;
    text-align: center;
}

#sidebar-right, #preview {
    right: 0px;
}

#sidebar-right, #preview {
    border-left: 1px solid #333;
}

#tools-left .tool {
    width: 160px;
}

#tools-right .tool {
    width: 200px;
}

.tool {
    min-height: 18px;
    padding: 2px 0px;
    cursor: pointer;
}

.tool.hide-text {
    padding: 0px;
}

.quick-access-panel {
    width: 160px;
    position: absolute;
    border: 4px solid #444;
    z-index: 4;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.3);
    padding: 8px;
    background-color: #333;
    padding: 1px;
    border-radius: 2px;
    outline: 1px solid black;
}

.quick-access-panel.fonts {
    width: 144px;
}

.quick-access-panel:hover {
    border: 4px solid #555;
}

.quick-access-panel canvas {
    vertical-align: bottom;
}

.tool:hover {
    background-color: #555;
}

.tool.selected, #title p.current-tool {
    background: linear-gradient(to bottom, #5a5 0%, #383 2px, #383 calc(100% - 2px), #040 100%);
}

.tool p {
    font: normal normal normal 12px "Lucida Grande", sans-serif;
    margin: 0;
    padding-left: 4px;
    line-height: 18px;
    color: #999;
}

@keyframes flash {
    from {
        background: #777;
    }
    to {
        background: #444;
    }
}

@-webkit-keyframes flash {
    from {
        background: #777;
    }
    to {
        background: #444;
    }
}

@keyframes flash-red {
    from {
        background: #c33;
    }
    to {
        background: #444;
    }
}

@-webkit-keyframes flash-red {
    from {
        background: #c33;
    }
    to {
        background: #444;
    }
}

@keyframes flash-p {
    from {
        color: #eee;
        text-shadow: #555 0px 1px 0px;
    }
    to {
        color: #999;
        text-shadow: none;
    }
}

@-webkit-keyframes flash-p {
    from {
        color: #eee;
        text-shadow: #555 0px 1px 0px;
    }
    to {
        color: #999;
        text-shadow: none;
    }
}

.tool.flash {
    animation: flash 0.1s;
    -webkit-animation: flash 0.1s;
}

.tool.flash p {
    animation: flash-p 0.1s;
    -webkit-animation: flash-p 0.1s;
}

.tool.flash-red {
    animation: flash-red 0.1s;
    -webkit-animation: flash-red 0.1s;
}

.tool.flash-red p {
    animation: flash-p 0.1s;
    -webkit-animation: flash-p 0.1s;
}

.tool.modal-on {
    background: linear-gradient(to bottom, #aa5 0%, #883 2px, #883 calc(100% - 2px), #662 100%);
}

.tool.modal-on p {
    color: #eee;
    text-shadow: #555 0px 1px 0px;
}

.tool.selected p, .tool:hover p, .tool.enabled p, #title p.current-tool {
    color: #eee;
    text-shadow: rgba(0, 0, 0, 0.7) 0px 1px 1px;
}

.tool.enabled p {
    background-color: #777;
}

.screen-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.modal-box {
    position: absolute;
    width: 400px;
    max-height: 400px;
    left: calc(50% - 160px);
    top: 20%;
    background-color: #444;
    border-radius: 2px;
    border: 1px solid #555;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.3);
}

.modal-box .button-box {
    margin: 8px auto;
    text-align: center;
    width: 210px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px #333;
}

.modal-box .button-box.download, .modal-box .button-box.import {
    background-color: #272;
}

.modal-box .button-box.default {
    background-color: #777;
}

.modal-box .button-box.cancel {
    background-color: #900;
}

.modal-box .file-zone {
    text-align: center;
    border: 4px dotted white;
    height: 200px;
    background-color: black;
    margin: 8px;
}

.modal-box .palette-container {
    width: 200px;
    margin: 8px;
    margin: 16px auto;
    border: 1px solid #333;
}

.modal-box .slider-container {
    margin: 8px auto;
    width: 400px;
}

.modal-box .slider-container label {
    font: normal normal normal 14px "Lucida Grande", sans-serif;
    display: inline-block;
    text-align: right;
    width: 92px;
    vertical-align: middle;
    color: #777;
}

.modal-box .slider-container label.rgb-value {
    text-align: left;
    width: 88px;
}

.modal-box .slider-container input[type="range"] {
    width: 200px;
    vertical-align: middle;
    margin: 4px 8px;
}

.modal-box .file-input-container {
    text-align: center;
}

.modal-box .file-input-container input[type="file"]:before {
    text-align: center;
    color: white;
    text-shadow: black 0px 1px 1px;
    content: "Browse...";
    font: normal normal normal 14px "Lucida Grande", sans-serif;
}

.modal-box .file-input-container input[type="file"] {
    color: white;
    width: 194px;
    padding: 8px;
    outline: none;
    background-color: #272;
    box-shadow: 0px 2px 0px #333;
}

.modal-box .file-input-container input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

.modal-box p, .modal-box .input-container label {
    margin: 16px;
    font: normal normal normal 12px "Lucida Grande", sans-serif;
    color: #999;
    line-height: 13px;
    text-shadow: #232 0px 1px 0px;
}

.modal-box .file-zone p {
    margin: 16px;
    font-size: 14px;
    line-height: 22px;
    text-shadow: #232 0px 1px 0px;
}

.modal-box .file-zone p {
    color: white;
}

.modal-box .input-container {
    margin: 8px auto;
    width: 310px;
}

.modal-box .input-container label {
    margin: 0px;
    display: inline-block;
    text-align: right;
}

.modal-box .input-container input {
    margin: 0px 0px 0px 8px;
    font: normal normal normal 12px "Lucida Grande", sans-serif;
    text-shadow: #232 0px 1px 0px;
    color: white;
    background-color: #555;
    padding: 4px;
    border: 1px solid #333;
}

.modal-box .input-container.resize label {
    width: 140px;
}

.modal-box .input-container.resize input {
    width: 50px;
}

.modal-box .input-container.change-font select {
    font-family: "Lucida Grande";
    font-size: 13px;
    background-color: #555;
    color: white;
    outline: none;
    width: 306px;
    border: 1px solid #333;
    margin: 8px 0px;
    -webkit-appearance: none;
    appearance: none;
    padding: 8px 10px;
}

.modal-box .input-container.change-font select:hover {
    background-color: #666;
}

.modal-box .input-container.sauce label {
    width: 50px;
}

.modal-box .input-container.sauce input.long {
    width: 230px;
}

.modal-box .input-container.sauce input {
    width: 160px;
}

.modal-box .input-container input:focus {
    background-color: #777;
    outline: none;
}

.modal-box p a {
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    color: white;
}

.modal-box p a:hover {
    text-decoration: underline;
}

#container.pro #palette {
    width: 29px;
    height: 29px;
    border-bottom: 1px solid #333;
    border-right: 1px solid #444;
    overflow: hidden;
}

#container.pro #tools-left, #container.pro #tools-right,  #container.pro #readme-bar, #container.pro #preview {
    display: none;
}

#container.pro #title {
    margin-left: 30px;
    width: calc(100% - 30px);
}

#container.pro #title p.title {
    padding-right: 30px;
}

#container.pro #editor {
    position: absolute;
    top: 0px;
    margin-left: 0px;
    width: 100%;
    height: calc(100% - 30px);
}

#container.pro #title p.current-tool {
    display: block;
}