body {
    margin: 0;
    background-color: #444;
}

html, body, #container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#editor {
    z-index: 1;
    position: relative;
    width: calc(100% - 160px - 1px - 160px - 1px - 200px - 1px);
    height: calc(100% - 30px);
    margin-left: 161px;
    overflow: auto;
    margin-top: 30px;
    min-width: 640px;
}

#title {
    z-index: 1;
    margin-left: 161px;
    min-width: 640px;
    width: calc(100% - 160px - 1px - 160px - 1px);
    font: normal normal normal 14px "Lucida Grande", sans-serif;
    position: fixed;
    background: linear-gradient(to bottom, #606060 0px, #505050 28px, #303030 29px);
    text-shadow: #222 0px 1px 0px;
    top: 0px;
    text-align: center;
    height: 30px;
}

#title p {
    outline: none;
    width: 320px;
    margin: 8px auto 8px auto;
    padding-right: 200px;
    color: #e0e0e0;
    text-decoration: none;
    line-height: 18px;
}

#editor canvas {
    cursor: crosshair;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

#editor canvas.canvas-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

#sidebar-left, #sidebar-right, #preview {
    z-index: 0;
    position: fixed;
    top: 0px;
    margin-bottom: 1px;
}

#sidebar-left {
    left: 0px;
}

#preview {
    margin-right: 161px;
    width: 200px;
    height: calc(100% - 30px);
    top: 30px;
    overflow-y: auto;
    text-align: center;
}

#sidebar-right, #preview {
    right: 0px;
}

.tool {
    width: 160px;
    min-height: 18px;
    padding: 2px 0px;
}

.tool:hover {
    background-color: #555;
}

.tool.selected {
    background-color: #383;
}

.tool p {
    font: normal normal normal 12px "Lucida Grande", sans-serif;
    margin: 0;
    padding-left: 4px;
    line-height: 18px;
    color: #999;
    cursor: pointer;
}

@keyframes flash {
    from {
        background: #383;
    }
    to {
        background: #444;
    }
}

@-webkit-keyframes flash {
    from {
        background: #383;
    }
    to {
        background: #444;
    }
}

.tool.flash {
    animation: flash 0.1s;
    -webkit-animation: flash 0.1s;
}

.tool.selected p, .tool:hover p, .tool.enabled p {
    color: #eee;
    text-shadow: #555 0px 1px 0px;
}

.tool.enabled p {
    background-color: #777;
}

.screen-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.modal-box {
    position: absolute;
    width: 320px;
    max-height: 240px;
    left: calc(50% - 160px);
    top: calc(50% - 120px);
    background-color: #444;
    border-radius: 2px;
    border: 1px solid #555;
    box-shadow: 0px 3px 16px black;
}

.modal-box .button-box {
    margin: 8px auto;
    text-align: center;
    width: 210px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px #333;
}

.modal-box .button-box.download, .modal-box .button-box.import {
    background-color: #272;
}

.modal-box .button-box.default {
    background-color: #777;
}

.modal-box .button-box.cancel {
    background-color: #900;
}

.modal-box .file-zone {
    text-align: center;
    border: 4px dotted white;
    height: 100px;
    background-color: black;
    margin: 8px;
}

.modal-box p, .modal-box .input-container label {
    margin: 16px;
    font: normal normal normal 12px "Lucida Grande", sans-serif;
    color: #999;
    line-height: 13px;
    text-shadow: #232 0px 1px 0px;
}

.modal-box .file-zone p {
    margin: 4px;
    font-size: 14px;
    line-height: 100px;
    text-shadow: #232 0px 1px 0px;
}

.modal-box .file-zone {
    border: 4px dotted white;
    height: 100px;
    background-color: black;
    margin: 8px;
}

.modal-box .file-zone p {
    color: white;
}

.modal-box .input-container {
    margin: 8px auto;
    width: 210px;
}

.modal-box .input-container label {
    margin: 0px;
    display: inline-block;
    text-align: right;
    width: 96px;
}

.modal-box .input-container input {
    width: 50px;
    margin: 0px 8px;
    font: normal normal normal 12px "Lucida Grande", sans-serif;
    text-shadow: #232 0px 1px 0px;
    color: white;
    background-color: #777;
    padding: 4px;
    border: 1px solid #333;
}

.modal-box .input-container input:focus {
    background-color: #272;
    outline: none;
}

.modal-box p a {
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    color: white;
}

.modal-box p a:hover {
    text-decoration: underline;
}
