:root {
  --purp: #6e2aa5;
  --indigo: #6366f1;
  --cyber: #00bad7;
  --cyan: #22d3ee;
  --subtitle: #999;
  --chat: #ababab;
  --dark-grey: var(--menu-bg);
  --midnight: #000;
  --icon-size: 46px;
  --icon-size-sm: 36px;
  --palette-width: 200px;
  --palette-height: 53px;
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;

  --text: #efefef;
  --editor: #222;
  --menu: #333;
  --icon: #efefef;
  --tools: #4e4e4e;
  --hl: #000;
  --dark-grey: #333;
  --midnight: #000;
  --purp: #6e2aa5;

	--font-family:topaz, ui-monospace, Consolas, SFMono-Regular, Menlo, Monaco, "Liberation Mono", "Courier New", monospace;
	--bg-med: var(--menu);
	--bg-dark: var(--editor);


}

@font-face {
	font-family: topaz;
	src: url("fonts/topazplus_1200.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: var(--font-family);
	-webkit-touch-callout: none !important;
	user-select: none !important;
	-ms-user-select: none !important;
	-webkit-user-select: none !important;
	font-weight: normal;
	font-style: normal;
	outline: none;

	&:focus {
		outline: none;
	}
}

.scrollable {
	scrollbar-width: auto;
	scrollbar-color: var(--bg-dark) var(--bg-med);
}

html {
	width: 100%;
	height: 100%;
	margin: 0px;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;

	> div {
		width: 100%;
		height: 100%;
		margin: 0px;
	}

	background: #000;
	position: fixed;
	overflow: hidden;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

img {
	user-select: none;
	user-drag: none;
	-moz-user-drag: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

kbd {
	font-family: var(--font-family);
}

.hide {
	display: none !important;
	pointer-events: none !important;
}

#body-container {
	width: 100%;
	height: 100%;
	overflow: auto;
}

header,
aside,
#position-info {
	background-color: var(--bg-med);
}

header {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: space-between;

	nav div {
		display: flex;
	}

	* {
		margin-block: auto;
	}

	svg {
		fill: #efefef;
		height: 30px;
		width: 30px;
	}
}

#artwork-title {
	background-color: rgb(95, 95, 95);
	border: 1px solid rgb(31, 31, 31);
	color: rgb(200, 200, 200);
	font-size: 12px;
	height: 25px;
	line-height: 20px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: auto;
	min-width: 50px;
	display: flex;
}

#chat-button {
	&.notification {
		background-color: rgb(96, 127, 127);
	}

	font-size: 10px;
	color: white;
	line-height: 19px;
	float: right;
	padding: 0px 8px;
}

#chat-icon-close-text {
	display: none;
}

#chat-button {
	&.active {
		#chat-icon-text {
			display: none;
		}

		#chat-icon-close-text {
			display: block;
		}
	}

	img {
		vertical-align: middle;
	}
}

#chat-window {
	width: 640px;
	height: 400px;
	position: absolute;
	right: 8px;
	top: 20px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	z-index: 3;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.7);
	background: linear-gradient(to bottom, #eeeeee 0px, white 64px, white 369px, #eeeeee 370px, white 100%);
	display: none;
}

#user-list {
	width: 140px;
	height: 350px;
	border-left: 1px solid var(--bg-med);
	overflow: auto;

	div {
		font-size: 12px;
		text-align: center;
		margin: 4px;
		padding: 4px;
		color: white;
		background: linear-gradient(to bottom, #7c7 0%, #383 1px, #383 calc(100% - 1px), #040 100%);
	}
}

#message-window {
	float: left;
	width: 499px;
	height: 370px;
	overflow: auto;

	span {
		font-size: 12px;
		margin: 4px;
		font-size: 12px;
		line-height: 20px;
	}
}

#handle-input,
#message-input {
	font-size: 12px;
	border: 0px;
	margin: 0px;
	height: 21px;
	padding: 4px 9px;
	border-top: 1px solid var(--bg-med);
	line-height: 20px;
}

#handle-input {
	text-align: center;
	background: none;
	background-color: rgb(95, 95, 95);
	color: white;
	width: 82px;
	height: 21px;
}

#message-input {
	background: none;
	width: 521px;
	float: right;
	border-left: 1px solid var(--bg-med);
}

#message-window {
	div {
		&:first-child {
			margin-top: 16px;
		}

		&:last-child {
			margin-bottom: 16px;
			border-bottom: none;
		}

		margin: 1px 16px 1px 24px;
		text-indent: -8px;
		padding-bottom: 2px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	}

	span {
		color: black;

		&.handle {
			color: red;
		}
	}
}

#artwork-title:focus {
	background-color: rgb(127, 127, 127);
	color: white;
}

aside {
	float: left;
	width: 40px;
	height: calc(100% - 30px);

	> canvas {
		vertical-align: bottom;
	}
}

#palette-preview {
	margin-top: 4px;
}

#palette-picker {
	margin-top: 8px;
}

#viewport {
	margin-left: 40px;
	width: calc(100% - 40px);
	height: calc(100% - 30px);
	background: var(--bg-dark);
	text-align: center;
	overflow: auto;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

header nav {
	display: flex;
	flex-direction: row;
	justify-items: flex-start;
	width: auto;

	img.enabled {
		background: #000;
	}
}

#clipboard-toolbar,
#font-toolbar,
#brush-toolbar,
#shapes-toolbar,
#selection-toolbar {
	display: none;
	width: auto;
	flex-direction: row;
	justify-items: flex-start;
}

.tool-button {
	color: white;
	display: flex;
	font-size: 12px;
	line-height: 20px;
	margin-right: 5px;
	padding-right: 5px;

	&.enabled {
		background: var(--indigo);
	}

	svg {
		margin-inline-end: 5px;
	}

	kbd {
		margin-block: auto;
	}
}

#shapes-toolbar {
	min-width: 370px;
}

#selection-toolbar .tool-button svg {
	width: 24px;
	margin-inline-end: 0;
}

#keyboard-toolbar {
	font-size: 14px;
	color: rgb(200, 200, 200);
	display: inline-block;
}

#current-font-display {
	user-select: none;
	margin-right: 1px;
}

#resolution {
	display: flex;
	flex-direction: row;
	height: 20px;
	line-height: 20px;
}

#position-info {
	display: flex;
	flex-direction: row;
	height: 20px;
	line-height: 20px;
	color: rgb(200, 200, 200);
	font-size: 14px;
	line-height: 20px;
}

header kbd {
	color: rgb(200, 200, 200);
	font-size: 14px;
	line-height: 20px;
}

#resolution kbd,
#current-font-display kbd {
	background: #2b2b2b;
	padding: 1px 8px;
	margin-right: 5px;
}

#position-info {
	min-width: 50px;
	text-align: right;
	font-size: 12px;
}

#canvas-container {
	margin: 16px auto;
	width: 640px;
	box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.7);
	position: relative;
	cursor: crosshair;

	canvas {
		display: block;
		vertical-align: bottom;
	}
}

.canvas-overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;

	&.enabled {
		display: block;
	}
}

canvas {
	image-rendering: optimizeSpeed;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

header > div > div.button {
	font-size: 12px;
	color: rgb(200, 200, 200);
	background-color: rgb(96, 96, 96);
	text-align: center;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.7);
}

aside {
	> div {
		text-align: center;
		height: fit-content;
		margin: 8px auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	svg {
		width: 30px;
		height: 30px;
		fill: #efefef;
	}

	div.seperator {
		height: 1px;
		padding: 0px;
		margin: 4px auto;
		width: 32px;
		background-color: rgb(96, 96, 96);
	}
}

.toolbar-displayed {
	background-color: var(--indigo);
}

aside > div {
	&.enabled-parent,
	&.enabled {
		background-color: var(--indigo);
	}
}

canvas.fkey {
	margin: 0px 4px;
	vertical-align: middle;
}

.menu-title {
	width: auto;
	height: 30px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	font-size: 14px;
	color: rgb(200, 200, 200);
	background-color: rgb(64, 64, 64);
	line-height: 20px;
	overflow: hidden;

	svg {
		padding-right: 3px;
	}
}

.menu-list {
	display: block;
	cursor: default;
	position: absolute;
	width: 260px;
	margin-top: -5px;
	background-color: rgb(64, 64, 64);
	border-right: 1px solid rgb(127, 127, 127);
	border-bottom: 1px solid rgb(127, 127, 127);
	border-left: 1px solid rgb(127, 127, 127);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
	z-index: 2;
}

.hover,
.menu-title:hover {
	background-color: rgb(96, 96, 96);
	overflow: visible;
}

.menu-item {
	padding: 2px 4px;
	margin: 4px 2px;
	font-size: 12px;
}

.menu-list div.seperator {
	height: 1px;
	background-color: rgb(127, 127, 127);
	margin: 2px;
}

.menu-item {
	&:hover {
		color: white;
		background-color: rgba(255, 255, 255, 0.2);
	}

	&.disabled {
		cursor: default;
		background-color: inherit;
		color: inherit;
	}

	&.enabled {
		background-image: url("img/done.png");
		background-position: 130px 0px;
		background-repeat: no-repeat;
		background-size: 20px 20px;
	}
}

.overlay {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 4;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 0px,
		rgba(0, 0, 0, 0) 20px,
		rgba(0, 0, 0, 0.8) 21px,
		rgba(0, 0, 0, 0.2) 100%
	);

	&.enabled {
		display: block;
	}
}

.dialog {
	color: rgb(200, 200, 200);
	font-size: 12px;
	position: fixed;
	left: calc(50% - 180px);
	top: 67px;
	width: 360px;
	background-color: rgb(64, 64, 64);
	border: 1px solid rgb(127, 127, 127);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
	text-align: center;
	padding-top: 16px;

	&.font-dialog {
		width: 445px;
		left: calc(50% - 300px);
		display: flex;
		padding: 16px;
		text-align: left;
	}
}

.font-dialog-left {
	flex: 1;
	padding-right: 16px;
	display: flex;
	flex-direction: column;
}

.font-dialog-right {
	flex: 1;
	padding-left: 16px;
	border-left: 1px solid rgb(127, 127, 127);
}

/* Font dialog specific styling */

#font-preview-info {
	margin-bottom: 5px;
	font-size: 12px;
	color: rgb(200, 200, 200);
}

#font-preview-image {
	border: 1px solid rgb(127, 127, 127);
	background-color: rgb(32, 32, 32);
	image-rendering: optimizeSpeed;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	max-width: 100%;
	height: auto;
}

.dialog {
	p {
		margin: 30px 0px;
	}

	label {
		display: flex;
		width: 250px;
		margin-inline: auto;
		justify-content: end;

		kbd {
			display: inline-flex;
			font-size: 14px;
			padding-top: 7px;
		}

		&:has(textarea) kbd {
			padding-top: 5px;
		}
	}

	select {
		font-size: 16px;
		display: block;
		margin: 8px auto;
	}

	input,
	textarea {
		width: 60%;
		background: #000;
		color: rgb(200, 200, 200);
		border: 1px solid rgb(127, 127, 127);
		padding: 4px;
		margin: 4px;
	}

	#sauce-bytes {
		background: none;
		border: none;
		user-select: none;
		color: #efefef;
		margin: 0;
	}
}

select {
	font-size: 16px;
	padding: 10px 4px;
	background: var(--bg-dark);
	color: #efefef;

	option {
		padding-inline: 14px;

		&:checked,
		&:active,
		&:focus {
			color: #000;
			background: var(--purp);
		}
	}

	optgroup {
		color: var(--cyber);
	}
}

#font-preview-image {
	border: 12px solid #000;
	image-rendering: pixelated;
	filter: brightness(1.5);
}

.button {
	color: white;
	font-size: 12px;
	display: inline-block;
	width: 100px;
	height: 24px;
	margin: 12px 4px;
	background: linear-gradient(to bottom, #eee 0%, #888 1px, #999 calc(100% - 1px), #777 100%);
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	line-height: 24px;
	text-shadow: rgba(0, 0, 0, 0.7) 0px 1px 1px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);

	&:active {
		color: rgba(255, 255, 255, 0.6);
		background: linear-gradient(to bottom, #ccc 0%, #666 1px, #777 calc(100% - 1px), #555 100%);
		box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
	}
}

.floating-panel {
	position: fixed;
	background-color: #444;
	display: none;
	padding-top: 16px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	cursor: move;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);

	div {
		position: relative;
		display: block;
	}

	.hidePanel {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		color: #efefef;
		padding: 2px 5px;
		font-size: 10px;
		cursor: pointer;

		&:hover {
			background: #000;
		}
	}

	&.enabled {
		display: block;
	}

	canvas {
		cursor: crosshair;
		vertical-align: bottom;
	}
}

.toggle-button-container {
	width: 120px;
	margin: 0px auto;
	color: rgb(200, 200, 200);
	font-size: 14px;
	text-align: center;
	display: flex;
	flex-direction: row;
}

.toggle-button {
	display: inline-flex;
	width: 66px;
	padding: 2px;
	justify-content: center;
	background-color: var(--bg-med);

	&.enabled {
		background-color: var(--purp);
		border: 1px solid black;
	}

	&.left {
		border-top: 1px solid black;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
	}

	&.right {
		border-top: 1px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
	}
}

@keyframes blink {
	50% {
		border: 1px solid rgb(192, 192, 192);
	}
}

canvas {
	&.cursor {
		position: absolute;
		border: 1px solid white;
		animation: blink 1.5s steps(1) infinite;
		z-index: 1;
	}

	&.selection-cursor {
		position: absolute;
		border: 1px solid;
		border-image: url("img/selection_border.gif") 1 repeat;
		border-image-width: 1px;
		z-index: 1;

		&.move-mode {
			border-image: url("img/move_border.gif") 1 repeat;
		}
	}
}

.included-for-websocket {
	display: none;
}

#notification-setting {
	width: 140px;
	height: 20px;
	font-size: 10px;
	color: white;
	line-height: 20px;
	float: right;
	border-left: 1px solid var(--bg-med);
	background-color: rgb(95, 95, 95);
}

.button,
.hover,
.toggle-button,
.menu-item:hover,
.menu-title:hover {
	cursor: pointer;
}

header {
	nav img,
	> div > div.button {
		cursor: pointer;
	}
}

#resolution,
#selection-toolbar .tool-button,
#current-font-display,
#chat-button {
	cursor: pointer;
}
