body {
    background-color: black;
}

div#login {
    font-family: "Lucida Grande", sans-serif;
    font-size: 13px;
    color: white;
    width: 960px;
    height: 180px;
    margin: 64px auto;
    padding: 16px;
}

div#login input, div#create input {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 4px;
}

div#login button, div#create button {
    font-family: "Lucida Grande", sans-serif;
    font-size: 13px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
}

div#login label, div#create label {
    display: block;
    width: 320px;
    text-align: right;
}

div#container-login {
    width: 480px;
    float: left;
}

div#container-create {
    width: 480px;
    float: right;
}

div.button-container {
    margin-top: 4px;
    text-align: center;
}

div#create {
    font-family: "Lucida Grande", sans-serif;
    font-size: 13px;
    color: white;
    width: 480px;
    height: 180px;
    margin: 64px auto;
    padding: 16px;
}

